#container {
  margin: auto;
  width: 50%;
}

#square {
  background: black;
  width: 30px;
  height: 30px;
}

h1 {
  font-size: 32pt;
  margin: auto;
  text-align: center;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.button {
  background-color: currentColor;
  padding: 15px 32px;
  position: absolute;
  top: 50%;
  font-size: 14pt;
}

/* #activated {
  background: red;
  width: 30px;
  height: 30px;
}
